<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f718de6-44a3-4684-8439-056aa2dfab45" Alias="Anmeldung" Level="2">
  <Info>
    <Parent Key="11147eb0-27a8-423b-b6bd-26e8509a6141">Start</Parent>
    <Path>/Start/Anmeldung</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2025-11-10T16:26:38</CreateDate>
    <NodeName Default="Anmeldung">
      <Name Culture="de-DE">Anmeldung</Name>
      <Name Culture="en-US">Login</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="95c6a4d0-ac87-48c1-b201-6a916c8d38a3">LoginPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value Culture="de-DE"><![CDATA[Anmeldung]]></Value>
      <Value Culture="en-US"><![CDATA[Login]]></Value>
    </headline>
    <registryLink>
      <Value Culture="de-DE"><![CDATA[[
  {
    "name": "Zur Registrierung",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/cd70d106817a420e9c102d6e1b9b6555",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": "#To Registry",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/cd70d106817a420e9c102d6e1b9b6555",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </registryLink>
    <registryPage>
      <Value><![CDATA[umb://document/cd70d106817a420e9c102d6e1b9b6555]]></Value>
    </registryPage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>