<?xml version="1.0" encoding="utf-8"?>
<Content Key="f52f53d2-4a34-457a-a75e-68fe79470bcd" Alias="Delete" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Delete</Path>
    <Trashed Parent="11147eb0-27a8-423b-b6bd-26e8509a6141">true</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-11-10T10:46:06</CreateDate>
    <NodeName Default="Delete">
      <Name Culture="en-US">Delete</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="022a9928-ce8c-4f74-9264-f92d44da3e15">StandardPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value Culture="en-US"><![CDATA[Delete]]></Value>
    </headline>
    <ogTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>