<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff92d58c-0bce-4488-bf54-3bc7261d30da" Alias="Form" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Form</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-06-04T11:39:48</CreateDate>
    <NodeName Default="Form">
      <Name Culture="de-DE">Form</Name>
      <Name Culture="en-US">Form</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="019e926d-bb66-7d87-bb1d-14a2c84e66fc">Form</Template>
  </Info>
  <Properties>
    <bodytext>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EDeutsch\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEnglish\u003C/p\u003E"
}]]></Value>
    </bodytext>
    <picker>
      <Value><![CDATA[b2ab10b2-dd47-4b88-866b-401ce45d7ccf]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[default]]></Value>
    </theme>
  </Properties>
</Content>