<?xml version="1.0" encoding="utf-8"?>
<Content Key="04b154cd-5857-470f-95af-8054d266e47b" Alias="Geheim" Level="3">
  <Info>
    <Parent Key="c35fddbd-2caa-4bf8-893e-3d90ac199b9b">Geschützter Bereich</Parent>
    <Path>/Start/GeschuetzterBereich/Geheim</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-11-10T11:48:47</CreateDate>
    <NodeName Default="Geheim">
      <Name Culture="de-DE">Geheim</Name>
      <Name Culture="en-US">Secret</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="022a9928-ce8c-4f74-9264-f92d44da3e15">StandardPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value Culture="de-DE"><![CDATA[Geheim]]></Value>
      <Value Culture="en-US"><![CDATA[Secret]]></Value>
    </headline>
    <ogPicture>
      <Value><![CDATA[]]></Value>
    </ogPicture>
    <ogTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <seoPicture>
      <Value><![CDATA[[
  {
    "key": "f9fdbe6a-7cfd-4eee-8870-c1e66007ef3e",
    "mediaKey": "041cfb51-cdbc-4813-b32f-9b23e3cbeba2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seoPicture>
    <seoTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>