<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c7ec4a9-0d8a-4e52-83f7-c95158499b06" Alias="Impressum" Level="2">
  <Info>
    <Parent Key="11147eb0-27a8-423b-b6bd-26e8509a6141">Start</Parent>
    <Path>/Start/Impressum</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-11-10T11:40:36</CreateDate>
    <NodeName Default="Impressum">
      <Name Culture="de-DE">Impressum</Name>
      <Name Culture="en-US">Imprint</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="022a9928-ce8c-4f74-9264-f92d44da3e15">StandardPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value Culture="de-DE"><![CDATA[Impressum]]></Value>
      <Value Culture="en-US"><![CDATA[Imprint]]></Value>
    </headline>
    <ogPicture>
      <Value><![CDATA[[
  {
    "key": "d4266051-d2a6-453a-b4ac-23207b9b11ff",
    "mediaKey": "0d989625-c1a6-491b-88fc-0e8d35b021e5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ogPicture>
    <ogTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <seoPicture>
      <Value><![CDATA[[
  {
    "key": "cbbae108-12e1-4dd6-99cd-9ee9d05d4baa",
    "mediaKey": "0d989625-c1a6-491b-88fc-0e8d35b021e5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </seoPicture>
    <seoTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>