<?xml version="1.0" encoding="utf-8"?>
<Content Key="19ed58f1-4f49-4f81-8cf2-06a8b1422140" Alias="Kontakt " Level="2">
  <Info>
    <Parent Key="aef62642-6be5-47ce-b545-b12648ed07c4">Start</Parent>
    <Path>/Start/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-05-19T16:48:35</CreateDate>
    <NodeName Default="Kontakt ">
      <Name Culture="de-DE">Kontakt </Name>
      <Name Culture="en-US">Contact</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="2d2b6fac-4bc4-483a-b8f2-f8a797a8147a">form</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EKontaktiere mich...\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EContact me\u003C/p\u003E"
}]]></Value>
    </body>
    <picker>
      <Value><![CDATA[9c0f60e3-0a58-46f1-b339-d5bf01ad7d70]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[default]]></Value>
    </theme>
  </Properties>
</Content>