<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cdacec2-b5d6-4a34-9043-8b74e7bcc008" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="cef25c54-7fc4-4e7e-a49b-2b55ab02b874">Start</Parent>
    <Path>/Start/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2026-05-19T15:11:38</CreateDate>
    <NodeName Default="Kontakt">
      <Name Culture="de-DE">Kontakt</Name>
      <Name Culture="en-US">Contact</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="f35edc1d-34ec-4c5f-b2be-5b7900e016ca">form</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EKontaktieren Sie mich mit folgendem Formuar:\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EContact me...\u003C/p\u003E"
}]]></Value>
    </body>
    <picker>
      <Value><![CDATA[3219be0e-e59b-4e57-9130-1520eb25310e]]></Value>
    </picker>
    <theme>
      <Value><![CDATA[default]]></Value>
    </theme>
  </Properties>
</Content>