<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2a3d79a-0088-4730-8182-05c1350dcfd3" Alias="Nicht berechtigt" Level="3">
  <Info>
    <Parent Key="5f718de6-44a3-4684-8439-056aa2dfab45">Anmeldung</Parent>
    <Path>/Start/Anmeldung/NichtBerechtigt</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-11-10T11:51:43</CreateDate>
    <NodeName Default="Nicht berechtigt">
      <Name Culture="de-DE">Nicht berechtigt</Name>
      <Name Culture="en-US">Not allowed</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="022a9928-ce8c-4f74-9264-f92d44da3e15">StandardPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value Culture="de-DE"><![CDATA[Nicht berechtigt]]></Value>
      <Value Culture="en-US"><![CDATA[Not allowed]]></Value>
    </headline>
    <ogPicture>
      <Value><![CDATA[]]></Value>
    </ogPicture>
    <ogTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <seoPicture>
      <Value><![CDATA[]]></Value>
    </seoPicture>
    <seoTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>