<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4b348ea-547e-4586-9631-e10141f15a22" Alias="Nur Admin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NurAdmin</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2025-11-10T10:39:54</CreateDate>
    <NodeName Default="Nur Admin">
      <Name Culture="de-DE">Nur Admin</Name>
      <Name Culture="en-US">Admin Only</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="de-DE">false</Published>
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="3d135d3c-6dd3-4734-af26-6626f9dd0564">Site</Template>
  </Info>
  <Properties>
    <colorTheme>
      <Value><![CDATA[]]></Value>
    </colorTheme>
    <headline>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </headline>
    <ogPicture>
      <Value><![CDATA[]]></Value>
    </ogPicture>
    <ogTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <seoPicture>
      <Value><![CDATA[]]></Value>
    </seoPicture>
    <seoTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>