<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd70d106-817a-420e-9c10-2d6e1b9b6555" Alias="Registrierung" Level="2">
  <Info>
    <Parent Key="11147eb0-27a8-423b-b6bd-26e8509a6141">Start</Parent>
    <Path>/Start/Registrierung</Path>
    <Trashed>false</Trashed>
    <ContentType>registryPage</ContentType>
    <CreateDate>2025-11-10T14:10:59</CreateDate>
    <NodeName Default="Registrierung">
      <Name Culture="de-DE">Registrierung</Name>
      <Name Culture="en-US">Registry</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="c698979d-6f6c-411a-836f-c21dbefff506">RegistryPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value Culture="de-DE"><![CDATA[Registrierung]]></Value>
      <Value Culture="en-US"><![CDATA[Registry]]></Value>
    </headline>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>