<?xml version="1.0" encoding="utf-8"?>
<Content Key="cef25c54-7fc4-4e7e-a49b-2b55ab02b874" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-19T15:08:12</CreateDate>
    <NodeName Default="Start">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="c1abc820-aab8-4b11-9e8b-301077c5218e">page</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EDE\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEN\u003C/p\u003E"
}]]></Value>
    </body>
  </Properties>
</Content>