<?xml version="1.0" encoding="utf-8"?>
<Content Key="aef62642-6be5-47ce-b545-b12648ed07c4" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-19T16:46:59</CreateDate>
    <NodeName Default="Start">
      <Name Culture="de-DE">Start</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="61335630-39c1-4611-889e-4f16b7c34c2e">page</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EDE\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEN\u003C/p\u003E"
}]]></Value>
    </body>
  </Properties>
</Content>