<?xml version="1.0" encoding="utf-8"?>
<Content Key="03e31cc7-d82a-48b9-acda-c8b67200d5d5" Alias="Über" Level="2">
  <Info>
    <Parent Key="11147eb0-27a8-423b-b6bd-26e8509a6141">Start</Parent>
    <Path>/Start/ueber</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-11-09T01:13:26</CreateDate>
    <NodeName Default="Über">
      <Name Culture="de-DE">Über</Name>
      <Name Culture="en-US">About</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="022a9928-ce8c-4f74-9264-f92d44da3e15">StandardPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value Culture="de-DE"><![CDATA[Über Umbraco 17.1]]></Value>
      <Value Culture="en-US"><![CDATA[About Umbraco 17]]></Value>
    </headline>
    <ogPicture>
      <Value><![CDATA[]]></Value>
    </ogPicture>
    <ogTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <seoPicture>
      <Value><![CDATA[]]></Value>
    </seoPicture>
    <seoTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>