<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ce39487-85bc-4b8b-83f0-d9bdb3b5ac72" Alias="Vielen Dank" Level="3">
  <Info>
    <Parent Key="1cdacec2-b5d6-4a34-9043-8b74e7bcc008">Kontakt</Parent>
    <Path>/Start/Kontakt/VielenDank</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-19T15:12:18</CreateDate>
    <NodeName Default="Vielen Dank">
      <Name Culture="de-DE">Vielen Dank</Name>
      <Name Culture="en-US">Thank You</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-DE">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="c1abc820-aab8-4b11-9e8b-301077c5218e">page</Template>
  </Info>
  <Properties>
    <body>
      <Value Culture="de-DE"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWir freuen uns...\u003C/p\u003E"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWe are grateful...\u003C/p\u003E"
}]]></Value>
    </body>
  </Properties>
</Content>