<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c9c5029-62e8-4343-b9a7-afce26e5a69a" Alias="Common" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Common</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-08T11:38:09</CreateDate>
    <NodeName Default="Common" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>