<?xml version="1.0" encoding="utf-8"?>
<Media Key="d54640d5-f0dc-412c-8e37-5d58c71fb3ea" Alias="Common" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Common</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-15T14:09:35</CreateDate>
    <NodeName Default="Common" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>