<?xml version="1.0" encoding="utf-8"?>
<Media Key="59f4196c-9811-4481-a79e-a5b79e707a33" Alias="Common" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Common</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-15T21:24:45</CreateDate>
    <NodeName Default="Common" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>