<?xml version="1.0" encoding="utf-8"?>
<Media Key="d54640d5-f0dc-412c-8e37-5d58c71fb3ea" Alias="Common (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Common1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-15T14:09:35</CreateDate>
    <NodeName Default="Common (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>