<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d989625-c1a6-491b-88fc-0e8d35b021e5" Alias="Copilot_20251105_141226.png" Level="2">
  <Info>
    <Parent Key="354125aa-1d3c-4119-a712-5247adfda4b7">Editor</Parent>
    <Path>/Editor/Copilot_20251105_141226png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T10:41:35</CreateDate>
    <NodeName Default="Copilot_20251105_141226.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vjon3o4p/copilot_20251105_141226.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>