<?xml version="1.0" encoding="utf-8"?>
<Media Key="93edc3d0-2d6e-4750-a043-920165522dd4" Alias="Copilot_20250627_130708.png" Level="2">
  <Info>
    <Parent Key="0c9c5029-62e8-4343-b9a7-afce26e5a69a">Common</Parent>
    <Path>/Common/Copilot_20250627_130708png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-08T11:38:40</CreateDate>
    <NodeName Default="Copilot_20250627_130708.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l2elwjih/copilot_20250627_130708.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>