<?xml version="1.0" encoding="utf-8"?>
<Media Key="c61e81c4-437e-4d7a-9fd8-c501683ab18f" Alias="Copilot_20250627_130708.png" Level="2">
  <Info>
    <Parent Key="59f4196c-9811-4481-a79e-a5b79e707a33">Common</Parent>
    <Path>/Common/Copilot_20250627_130708png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-15T22:24:54</CreateDate>
    <NodeName Default="Copilot_20250627_130708.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.256,
    "top": 0.3295957369785415
  },
  "crops": [],
  "src": "/media/jnffq2ax/copilot_20250627_130708.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>