<?xml version="1.0" encoding="utf-8"?>
<Media Key="354125aa-1d3c-4119-a712-5247adfda4b7" Alias="Editor" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Editor</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T08:39:14</CreateDate>
    <NodeName Default="Editor" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>