<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed605d91-76f4-43b1-804b-37ac5872d93f" Alias="Truckdriver-Dirk-S-300x300.png" Level="2">
  <Info>
    <Parent Key="354125aa-1d3c-4119-a712-5247adfda4b7">Editor</Parent>
    <Path>/Editor/TruckdriverDirkS300x300png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-15T14:42:40</CreateDate>
    <NodeName Default="Truckdriver-Dirk-S-300x300.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d0ldmw23/truckdriver-dirk-s-300x300.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>