<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90d79dfe-39d6-4b4b-b5c0-b3f267b6fb61" Alias="Color Theme" Level="2">
  <Info>
    <Name>Color Theme</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "a41e1e",
      "label": "Red"
    },
    {
      "value": "1833bf",
      "label": "Blue"
    },
    {
      "value": "119220",
      "label": "Green"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>