<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d4a789d-fe00-4574-abf7-e026537e88ce" Alias="Form - Picker - Form Picker (Single)" Level="1">
  <Info>
    <Name>Form - Picker - Form Picker (Single)</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>