<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcc273c6-5a0e-4b1b-9988-0c461dcc84f6" Alias="Form - Theme - Theme Picker" Level="1">
  <Info>
    <Name>Form - Theme - Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.ThemePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>