<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5a14b42-853a-4a13-8554-4496dffc4e6b" Alias="Form - Theme - Theme Picker" Level="1">
  <Info>
    <Name>Form - Theme - Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.ThemePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>