<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12a01de3-ebd9-4d3d-b553-347079aaf25d" Alias="Form - Theme - Theme Picker" Level="1">
  <Info>
    <Name>Form - Theme - Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.ThemePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>