<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f506bd1-6690-4576-895b-0f53aee9c0be" Alias="Form - Form - Form Picker (Single)" Level="1">
  <Info>
    <Name>Form - Form - Form Picker (Single)</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>