<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7623927-da7c-46a2-b587-1a90b319be91" Alias="Headline" Level="2">
  <Info>
    <Name>Headline</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 120
}]]></Config>
</DataType>