<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d84f8906-b6c6-470f-b862-687d3ab339a9" Alias="Image Upload" Level="2">
  <Info>
    <Name>Image Upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UploadField</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "fileExtensions": [
    "jpg",
    "png",
    "gif"
  ]
}]]></Config>
</DataType>