<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f64bbe88-96ad-41ed-a660-e470bb789f5d" Alias="SEO Title" Level="2">
  <Info>
    <Name>SEO Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 80
}]]></Config>
</DataType>