<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09d0edae-0f97-4570-a505-7808d9325fe3" Alias="Single URL Picker" Level="2">
  <Info>
    <Name>Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": true,
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>