<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b71c90db-a860-4ad7-8f0a-ab42f4129c6f" Alias="Umbraco Redirect Content Picker" Level="2">
  <Info>
    <Name>Umbraco Redirect Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Current",
      "querySteps": [
        {
          "unique": "b83e687f-92bd-45e3-9866-c7ec9777e10d",
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "857f4af1-9109-4582-962e-a668df3afd57"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>