<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="45a3d3de-ec52-48e8-9a4a-c06c87875db8" Alias="Animals">
  <Info>
    <Name>Animals</Name>
    <FieldPreValueSourceTypeId>35c2053e-cbf7-4793-b27c-6e97b7671a2d</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "TextFile": "PreValueTextFiles\\91f76cc9-8085-4fd9-a7d4-67535de487a7\\animal-prevaalues.txt"
}</Settings>
  <TextFile>
    <FileContent>[{"id":"0","value":"Ape","caption":"","sortOrder":0},{"id":"1","value":"Dolphin","caption":"","sortOrder":1},{"id":"2","value":"Donky","caption":"","sortOrder":2},{"id":"3","value":"Cat","caption":"","sortOrder":3},{"id":"4","value":"Dog","caption":"","sortOrder":4},{"id":"5","value":"Horse","caption":"","sortOrder":5},{"id":"6","value":"Bird","caption":"","sortOrder":6}]</FileContent>
  </TextFile>
</PreValue>