<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="ffe6f222-9604-48bb-a819-3c2a6a90b5b9" Alias="Animals">
  <Info>
    <Name>Animals</Name>
    <FieldPreValueSourceTypeId>35c2053e-cbf7-4793-b27c-6e97b7671a2d</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "TextFile": "PreValueTextFiles\\59b94357-c296-4ecd-8da8-11ff4a72eb98\\animal-prevaalues.txt"
}</Settings>
  <TextFile>
    <FileContent>[{"id":"0","value":"Ape","caption":"","sortOrder":0},{"id":"1","value":"Dolphin","caption":"","sortOrder":1},{"id":"2","value":"Donky","caption":"","sortOrder":2},{"id":"3","value":"Cat","caption":"","sortOrder":3},{"id":"4","value":"Dog","caption":"","sortOrder":4},{"id":"5","value":"Horse","caption":"","sortOrder":5},{"id":"6","value":"Bird","caption":"","sortOrder":6}]</FileContent>
  </TextFile>
</PreValue>