<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="3219be0e-e59b-4e57-9130-1520eb25310e" Alias="Contact form">
  <Info>
    <Name>Contact form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>1ce39487-85bc-4b8b-83f0-d9bdb3b5ac72</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>#Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Prev</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "5684df60-7e36-4f8e-9674-13601758d374",
        "page": "044b7342-87ed-4be0-a519-2216816b8aa6",
        "containers": [
          {
            "id": "da31169c-648f-4d0f-be28-36c6ed4edb6a",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "#Date",
                "tooltip": "",
                "cssClass": null,
                "alias": "date",
                "id": "1a68f438-2c06-41bb-949e-a405442a9597",
                "fieldTypeId": "f8b4c3b8-af28-11de-9dd8-ef5956d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "1c377663-88ca-4535-82a3-e99c6276f012",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": [],
                "allowMultipleFileUploads": false
              },
              {
                "caption": "Message",
                "tooltip": null,
                "cssClass": null,
                "alias": "message",
                "id": "8b57f9ff-23fc-4186-b3e3-74b64acc3de7",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Name",
                "tooltip": null,
                "cssClass": null,
                "alias": "name",
                "id": "2b6ad072-dbc7-4408-80e1-e880233bb52c",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "cssClass": null,
                "alias": "email",
                "id": "a4e7ff3d-806a-4eac-9db1-f642f5109523",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "email"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "308ad1bb-f35f-4ad7-8058-77adbde566a8",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "Contact Us",
    "sortOrder": 0,
    "id": "044b7342-87ed-4be0-a519-2216816b8aa6",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>