<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="b2ab10b2-dd47-4b88-866b-401ce45d7ccf" Alias="Contact form">
  <Info>
    <Name>Contact form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit />
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>#Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Prev</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "2f27f40e-6d6c-4cf8-ad30-c530bc9674f1",
        "page": "db58ec63-1c85-43e1-b272-c4397eba7101",
        "containers": [
          {
            "id": "c86c192c-f890-47bc-8201-986f0a9b1df5",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Date",
                "tooltip": "",
                "cssClass": null,
                "alias": "date",
                "id": "303aa257-ab4a-4bee-accf-4cc21f5675e5",
                "fieldTypeId": "f8b4c3b8-af28-11de-9dd8-ef5956d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "0e840822-b962-4e39-bc7b-4294a9aeda4f",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": [],
                "allowMultipleFileUploads": false
              },
              {
                "caption": "Your Pet",
                "tooltip": "",
                "cssClass": null,
                "alias": "yourPet",
                "id": "e14e060b-2c8b-4454-9196-7400bab1fff4",
                "fieldTypeId": "903df9b0-a78c-11de-9fc1-db7a56d89593",
                "prevalueSourceId": "Animals",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "f42d7ef0-c519-4409-9989-c6018938ba41",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": [],
                "allowMultipleFileUploads": false
              },
              {
                "caption": "Message",
                "tooltip": null,
                "cssClass": null,
                "alias": "message",
                "id": "7e786354-c0e5-433c-9d69-b56240279a9d",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Name",
                "tooltip": null,
                "cssClass": null,
                "alias": "name",
                "id": "22d7364e-4c1d-446a-bde5-09fdc3cb7fa8",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "cssClass": null,
                "alias": "email",
                "id": "084a45ca-4db8-491c-bca5-8e7cdf4a681d",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "email"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "a9dfa70c-5000-443b-af1a-51fa292ed9c3",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "Contact Us",
    "sortOrder": 0,
    "id": "db58ec63-1c85-43e1-b272-c4397eba7101",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>