<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="9c0f60e3-0a58-46f1-b339-d5bf01ad7d70" Alias="Contact form">
  <Info>
    <Name>Contact form</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>546172f4-64ab-4b30-b54b-c1ee4ccfe4bd</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>#Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Prev</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "b836f2d5-d3fe-4136-8abc-d725541856e0",
        "page": "6cb51e66-f563-4cfa-b250-b0567bd15a5b",
        "containers": [
          {
            "id": "df5eea6f-9b6e-4bc0-bd25-4be4439deced",
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "#Message",
                "tooltip": null,
                "cssClass": null,
                "alias": "message",
                "id": "221f47f6-a1b6-427a-b8f0-a6e3cec7a3c3",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "#Date",
                "tooltip": "",
                "cssClass": null,
                "alias": "date",
                "id": "4905993b-1154-417b-a969-78089fc6a8ba",
                "fieldTypeId": "f8b4c3b8-af28-11de-9dd8-ef5956d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": "",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "4ed64e62-36de-4423-838c-ae9db9e846eb",
                  "enabled": false,
                  "actionType": 0,
                  "logicType": 0,
                  "rules": []
                },
                "settings": {},
                "preValues": [],
                "allowedUploadTypes": [],
                "allowMultipleFileUploads": false
              },
              {
                "caption": "Name",
                "tooltip": null,
                "cssClass": null,
                "alias": "name",
                "id": "50d706a5-6659-4175-a9da-512955d886d2",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "cssClass": null,
                "alias": "email",
                "id": "9ae10f8e-b977-48b1-a513-20f0d011d599",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "DefaultValue": "",
                  "FieldType": "email"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "d7a76ffa-b45f-4196-8d8c-8a5b5b6cfe55",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": "Contact Us",
    "sortOrder": 0,
    "id": "6cb51e66-f563-4cfa-b250-b0567bd15a5b",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>