<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7e1dab52-fc05-4a84-a3ee-74ca74a2e0a1" Alias="form" Level="1">
  <Info>
    <Name>Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>form</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2d2b6fac-4bc4-483a-b8f2-f8a797a8147a">form</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fb8b1288-f765-40cd-a77e-c91887f25e14" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fc0d2692-0bda-422d-8f99-bb08ab0f9c2d</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8bcd0b73-dd32-487b-ab50-e985ab3f450a</Key>
      <Name>Picker</Name>
      <Alias>picker</Alias>
      <Definition>6c07dc7d-083f-4552-bcf8-72a2f940bfa7</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4b527009-c760-4e1e-bc1c-28b25d933627</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>12a01de3-ebd9-4d3d-b553-347079aaf25d</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>