<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f881adfc-1abf-4681-98c5-8cd5a7c8ee65" Alias="formPage" Level="1">
  <Info>
    <Name>Form Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>FormPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019f84ce-44ac-7a82-8307-d7de31e4070f">FormPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>29863980-2ded-479f-84e6-37b3fd2ddf1c</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>5f506bd1-6690-4576-895b-0f53aee9c0be</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e59b57cc-5d89-4825-8ff0-fda6be345607</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>a5a14b42-853a-4a13-8554-4496dffc4e6b</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>