<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83b0d072-3f31-4d98-9e03-8b3a23dafe56" Alias="form" Level="1">
  <Info>
    <Name>Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>form</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f35edc1d-34ec-4c5f-b2be-5b7900e016ca">form</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2dcc3b81-e8a0-4c1e-bb5e-47ec293c12a1" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c41c6760-1be7-4668-a058-5811569b0356</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00279652-2a0b-4d82-840f-3d3b61361fe7</Key>
      <Name>Picker</Name>
      <Alias>picker</Alias>
      <Definition>ffa8dc0b-9bdf-4acf-bee1-0536571d8f97</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce26cdbb-766a-4c4b-8fb3-844992674d43</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>bcc273c6-5a0e-4b1b-9988-0c461dcc84f6</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>