<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1ff686d4-fb19-4ace-9fdf-5be8c8af6546" Alias="loginPage" Level="2">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fc7deb07-03fd-4eb1-a4ba-857d59eb9021">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="95c6a4d0-ac87-48c1-b201-6a916c8d38a3">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="857f4af1-9109-4582-962e-a668df3afd57" SortOrder="0">standardPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a09bc8cd-05e8-4764-b157-3af3f599536e</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>f7623927-da7c-46a2-b587-1a90b319be91</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f28ff477-ee20-4f47-8a18-67a660a2b7a0</Key>
      <Name>Registry Link</Name>
      <Alias>registryLink</Alias>
      <Definition>09d0edae-0f97-4570-a505-7808d9325fe3</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a58dd322-aa85-475e-a714-18b5e59a285c</Key>
      <Name>Registry Page</Name>
      <Alias>registryPage</Alias>
      <Definition>b71c90db-a860-4ad7-8f0a-ab42f4129c6f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>07f1b73f-f748-4e5e-86b2-389b8f8331f1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>