<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c36dacd8-f6ac-4ff7-9886-126129cb66d2" Alias="metaSeo" Level="2">
  <Info>
    <Name>META SEO</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>06e184b2-2622-46a1-a0ba-982890c77777</Key>
      <Name>OG Picture</Name>
      <Alias>ogPicture</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mETA&amp;SEO/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffe7baac-e5b6-4e15-b6e5-555b401fd3ac</Key>
      <Name>OG Title</Name>
      <Alias>ogTitle</Alias>
      <Definition>65024a3f-dcd3-48b0-a9fd-600727bf532c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mETA&amp;SEO/openGraph">Open Graph</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0e69dc7-2e6c-4fa7-8fe8-8cddcbb526c3</Key>
      <Name>SEO picture</Name>
      <Alias>seoPicture</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mETA&amp;SEO">META &amp; SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>758faf13-d200-4613-8915-19354923104e</Key>
      <Name>SEO Title</Name>
      <Alias>seoTitle</Alias>
      <Definition>f64bbe88-96ad-41ed-a660-e470bb789f5d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mETA&amp;SEO">META &amp; SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4fa30b84-d67a-4c4d-a758-db6e7693c9ad</Key>
      <Caption>META &amp; SEO</Caption>
      <Alias>mETA&amp;SEO</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>5416cd0b-bbd6-4df0-aabd-221032cc776d</Key>
      <Caption>Open Graph</Caption>
      <Alias>mETA&amp;SEO/openGraph</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>