<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a03b5f7-8c91-4133-b1ff-df282e8b161b" Alias="registryPage" Level="2">
  <Info>
    <Name>Registry Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fc7deb07-03fd-4eb1-a4ba-857d59eb9021">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>Registry</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c698979d-6f6c-411a-836f-c21dbefff506">Registry</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>11db9e75-b559-4dac-93b2-c01d5d44dcc8</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>f7623927-da7c-46a2-b587-1a90b319be91</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d97354f7-0932-423b-ab08-0bc2046c612e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>