<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a827a3e-3eec-4316-9639-4c8ea032cce3" Alias="site" Level="2">
  <Info>
    <Name>Site</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c36dacd8-f6ac-4ff7-9886-126129cb66d2">metaSeo</Composition>
      <Composition Key="fc7deb07-03fd-4eb1-a4ba-857d59eb9021">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>Site</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3d135d3c-6dd3-4734-af26-6626f9dd0564">Site</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="857f4af1-9109-4582-962e-a668df3afd57" SortOrder="0">standardPage</ContentType>
    <ContentType Key="1ff686d4-fb19-4ace-9fdf-5be8c8af6546" SortOrder="1">loginPage</ContentType>
    <ContentType Key="4a03b5f7-8c91-4133-b1ff-df282e8b161b" SortOrder="2">registryPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>39570d80-fc46-466b-abd8-e2519deeb4a6</Key>
      <Name>Color Theme</Name>
      <Alias>colorTheme</Alias>
      <Definition>90d79dfe-39d6-4b4b-b5c0-b3f267b6fb61</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettings">Site Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbb8c168-9614-497f-bf8a-123c4c1f25b0</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>f7623927-da7c-46a2-b587-1a90b319be91</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>66881a76-1bfb-4689-b227-15a798a087d8</Key>
      <Caption>Site Settings</Caption>
      <Alias>siteSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>fca018a2-1793-437e-bf3b-9efbe6106be5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>