<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="857f4af1-9109-4582-962e-a668df3afd57" Alias="standardPage" Level="2">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c36dacd8-f6ac-4ff7-9886-126129cb66d2">metaSeo</Composition>
      <Composition Key="fc7deb07-03fd-4eb1-a4ba-857d59eb9021">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>StandardPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="95c6a4d0-ac87-48c1-b201-6a916c8d38a3">LoginPage</Template>
      <Template Key="c698979d-6f6c-411a-836f-c21dbefff506">RegistryPage</Template>
      <Template Key="022a9928-ce8c-4f74-9264-f92d44da3e15">StandardPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="857f4af1-9109-4582-962e-a668df3afd57" SortOrder="0">standardPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2d25512c-cc78-4ca5-9099-73ed3df33600</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>f7623927-da7c-46a2-b587-1a90b319be91</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3f6ea602-a5ca-48f6-b245-73a9e01da0de</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>