<?xml version="1.0" encoding="utf-8"?>
<Webhook Key="503492aa-edc6-4c2d-89a8-bcc56a7acb6f" Alias="https://localhost:44339/umbraco/api/whtest21" Level="0">
  <Url>https://localhost:44339/umbraco/api/whtest21</Url>
  <Enabled>true</Enabled>
  <Name>whtest2</Name>
  <Description></Description>
  <ContentTypeKeys>
    <Key>cc07b313-0843-4aa8-bbda-871c8da728c8</Key>
  </ContentTypeKeys>
  <Events>
    <Event>Umbraco.MediaSave</Event>
  </Events>
  <Headers />
</Webhook>