<?xml version="1.0" encoding="utf-8"?>
<Webhook Key="aca47595-bad9-4fb5-b813-57648e041d54" Alias="https://localhost:44339/umbraco/api/whtest" Level="0">
  <Url>https://localhost:44339/umbraco/api/whtest</Url>
  <Enabled>true</Enabled>
  <Name>whtest</Name>
  <Description></Description>
  <ContentTypeKeys>
    <Key>857f4af1-9109-4582-962e-a668df3afd57</Key>
  </ContentTypeKeys>
  <Events>
    <Event>Umbraco.ContentPublish</Event>
  </Events>
  <Headers>
    <Header Key="myCustomHeader"><![CDATA[dseefeld]]></Header>
  </Headers>
</Webhook>