<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa20a4da-c967-4db5-a3d6-5321552da5e6" Alias="Blaupause" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blaupause</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2025-11-10T11:01:52</CreateDate>
    <NodeName Default="Blaupause">
      <Name Culture="de-DE">Blaupause</Name>
      <Name Culture="en-US">Blue Print</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="de-DE">false</Published>
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="022a9928-ce8c-4f74-9264-f92d44da3e15">StandardPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <headline>
      <Value Culture="de-DE"><![CDATA[Blaupause]]></Value>
      <Value Culture="en-US"><![CDATA[Blue Print]]></Value>
    </headline>
    <ogPicture>
      <Value><![CDATA[]]></Value>
    </ogPicture>
    <ogTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </ogTitle>
    <seoPicture>
      <Value><![CDATA[]]></Value>
    </seoPicture>
    <seoTitle>
      <Value Culture="de-DE"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </seoTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>