<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ded7c764-c98d-4d58-b7fa-a78655cbdb2a" Alias="To Registry" Level="0">
  <Info />
  <Translations>
    <Translation Language="de-DE">Registrieren?</Translation>
    <Translation Language="en-US">Register?</Translation>
  </Translations>
</Dictionary>